body{
    background-image: url(img/papel-arte-pixeles-vector-pluma-juego-8-bits-sobre-fondo-blanco_360488-754.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:auto;
    color: #202020;
    }
    #container{
    width:50px;
    width: 500px;
    margin: auto;
    color: black;
    padding-top: 5px;
    }
    
    article{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0) ;
    font-size:medium;
    }
.article:first-child{
    border-top: 0px solid rgb(0, 0, 0);
    padding-top: 0px;
}
header{
    height: 100px;
    width: 500;
    margin: 20px;
    text-align:center;
    line-height: 40px;
}
footer{
    text-align: center;
    height: 50px;line-height: 50px;
}
